body {
    background-image: url('./images/redtechno_1.jpg');
    font-family: 'Righteous', sans-serif;
}

footer {
	clear: both;
	text-align: center;
	font-size: 12px;
	padding-top: 350px;
}

.menu {
	
	padding: 20px;
	margin-right: 20px;
	word-spacing: 25px;
	margin-top: 10px;
	font-weight: bold;
}

.right {
	display: inline;
}

a {
	text-decoration: none;
}

.v1,
.v2 {
	position: relative;
	border-left: solid 1px #e6e6e6;
	height: 8px;
	display: inline;
	word-spacing: 25px;
	right: 15px;
}
.wrapper {
    position: relative;
    overflow: hidden;
    width: 100px;
    height: 100px; 
    border: 1px solid black;
}

#slide {
    position: absolute;
    left: -100px;
    width: 100px;
    height: 100px;
    background: blue;
    transition: 1s;
}

.wrapper:hover #slide {
    transition: 1s;
    left: 0;
}